:root {
  --main-color: #ffffff;
  --brand-color: #2196f3;
  --font-color: #212121;
  --studio-color: #000000;
  --text-color: #757575;
  --hero-color: #C4C4C4;
  --hero-overlay: rgba(47, 48, 58, 0.4);
  --footer-color: #2f303a;
  --team-color: #f5f4fa;
  --btn-hover-color: #188ce8;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --border-color: #ECECEC;
}

body {
  background-color: var(--main-color);
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list {
  display: flex;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/* Logo */

.logo {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.web {
  color: var(--brand-color);
}

.header-studio {
  color: var(--studio-color);
}

.footer-studio {
  color: var(--main-color);
}

/* Header*/

.nav {
  display: flex;
  margin-left: auto;
}

.list-item:not(:last-child) {
  margin-right: 50px;
}

.list-work-item {
  background-color: var(--main-color);
}

.header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-section {
  border-bottom: 1px solid var(--border-color);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--font-color);
  text-decoration: none;
}

.link:hover,
.link:focus,
.link.active {
  color: var(--brand-color);
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--brand-color);
}

/* Hero */

.bg-hero {
  background-color: var(--hero-color);
}

.hero {
    background-image:
     linear-gradient(to top, var(--hero-overlay)),   
  url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  color: var(--main-color);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 0;
}

.btn,
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
}

.hero-btn {
  background-color: var(--brand-color);
  color: var(--main-color);
  border: none;
  padding: 10px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-hover-color);
  color: var(--main-color);
}

.btn {
  background-color: var(--team-color);
  color: var(--font-color);
  border: none;
  padding: 6px 22px;
}

.btn:hover,
.btn:focus {
  background-color: var(--brand-color);
  color: var(--main-color);
}

/* Sections */

.our-work {
  padding-top: 0;
}

.our-team {
  background-color: var(--team-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color);
  margin-top: 0;
  margin-bottom: 50px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--font-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.benefits-item {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color);
  padding-bottom: 10px;
}

.list-item-benefits {
  width: 270px;
}

.list-item-benefits:not(:last-child) {
  margin-right: 30px;
}

.list-work-item:not(:last-child) {
  margin-right: 30px;
}

.team-card-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Projects */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list.buttons {
  justify-content: center;
  margin-bottom: 50px;
}

.list-btn-item:not(:last-child) {
  margin-right: 8px;
}

.list-project {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.list-item-project {
  width: 370px;
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--font-color);
  margin-top: 0;
  margin-bottom: 4px;
}

.projects-item {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 0;
}

.card-title {
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: 20px 24px;
}

/* Footer */

.footer {
  background-color: var(--footer-color);
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-decoration: none;
}

.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
  text-decoration: none;
}

.map:hover,
.map:focus {
  color: var(--brand-color);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--brand-color);
}

.footer-list {
  list-style: none;
  padding: 20px 0 0 0;
  margin: 0;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}